<!-- konfigurasi database -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<context:component-scan base-package="com.xsis.web128" />
	<tx:annotation-driven />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:application.properties</value>
		</property>
	</bean>

	<!-- database configuration -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${spring.datasource.driverClassName}" />
		<property name="url" value="${spring.datasource.url}" />
		<property name="username" value="${spring.datasource.username}" />
		<property name="password" value="${spring.datasource.password}" />
	</bean>

	<!-- hibernate configuration -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="sessionFactory">
		<property name="dataSource" ref="dataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.xsis.web128.entity.Pasien</value>
				<value>com.xsis.web128.entity.JadwalPraktek</value>
				<value>com.xsis.web128.entity.Registrasi</value>
				<value>com.xsis.web128.entity.DetailRegistrasi</value>
				<value>com.xsis.web128.entity.Kamar</value>
				<value>com.xsis.web128.entity.DetilKamar</value>
				<value>com.xsis.web128.entity.Obat</value>
				<value>com.xsis.web128.entity.DetilObat</value>
				<value>com.xsis.web128.entity.CheckUp</value>
				<value>com.xsis.web128.entity.Pembayaran</value>
				<value>com.xsis.web128.entity.PembayaranAdm</value>
				<value>com.xsis.web128.entity.DetailCheckUp</value>
				<value>com.xsis.web128.entity.Dokter</value>
				<!-- <value>com.xsis.web128.entity.Department</value> <value>com.xsis.web128.entity.Mahasiswa</value> 
					<value>com.xsis.web128.entity.Penjualan</value> <value>com.xsis.web128.entity.Customer</value> -->
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- create = untuk awal pembuatan database ,update = untuk awal pembuatan 
					database -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext
				</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
